<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bookDao" class="com.itheima.dao.impl.BookDaoImpl"/>

    <!-- 按类型装配(常用) -->
    <bean id="bookService" class="com.itheima.service.impl.BookServiceImpl" autowire="byType"/>

    <!--
    按名称装配
    <bean id="bookService" class="com.itheima.service.impl.BookServiceImpl" autowire="byName"/>
    -->
</beans>