<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算属性</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="root">
    姓：<input type="text" v-model="lastName"><br>
    名：<input type="text" v-model="firstName"><br>
    姓名：{{fullName}}<br>
    姓名：{{fullName}}<br>
    姓名：{{fullName}}
</div>
<script>
    new Vue({
        el: '#root',
        data: {
            lastName: '张',
            firstName: '三'
        },
        computed: {
            fullName: {
                get() {
                    console.log('get 被调用了');
                    return this.lastName + '-' + this.firstName;
                },
                set(value) {
                    console.log('set', value);
                    const arr = value.split('-');
                    this.firstName = arr[0];
                    this.lastName = arr[1];
                }
            }
        }
    });
</script>
</body>
</html>
