<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 方式1:使用构造方法实例化bean -->
<!--    <bean id="bookDao" class="com.itheima.dao.impl.BookDaoImpl"/>-->

    <!-- 方式2:使用静态工厂实例化bean -->
<!--    <bean id="orderDao" class="com.itheima.factory.OrderDaoFactory" factory-method="getOrderDao"/>-->

    <!-- 方式3:使用实例工厂实例化bean -->
<!--    <bean id="userFactory" class="com.itheima.factory.UserDaoFactory"/>-->
<!--    <bean id="userDao" factory-bean="userFactory" factory-method="getUserDao"/>-->

    <!-- 方式4:使用FactoryBean实例化bean -->
    <bean id="userDao" class="com.itheima.factory.UserDaoFactoryBean"/>
</beans>