*{
	margin: 0px;
	padding: 0px;
}

/* 首部样式 */
#top{
	width: 100%;
	background-color: lightsteelblue;
	position: absolute;
	z-index: 2;
}
#top ul{
	/* 取消导航栏文字自动换行 */
	white-space: nowrap;
}
#top ul li{
	width: 15%;
	height: 40px;
	background-color: lightsteelblue;
	/* 取消列表原来的样式 */
	list-style: none;
	/* 定义浮动为左 */
	float: left;
	font-size: 18px;
	font-family: "微软雅黑","等线";
	text-align: center;
	line-height: 40px;
	border-right: solid 1px cornflowerblue;
}
#top ul li a{
	color: white;
	font-size: 18px;
	font-family: "微软雅黑","等线";
	/* 取消下划线 */
	text-decoration: none;
}
/* 伪类选择器 */
#top ul li:hover{
	/* rgba:带透明的颜色 45为透明值 */
	background-color: rgba(165,42,42,0,45);
}
#top ul li ul li{
	border: none;
	border-top: solid 1px cornflowerblue;
	background-color: rgba(165,42,42,0,45);
	width: 100%;
}

/* 子菜单操作 */
#top ul li ul{
	/* 隐藏子菜单 */
	display: none;
}
#top ul li ul li:hover{
	background-color: lightsteelblue;
}
#top ul li:hover ul{
	/* 显示子菜单 */
	display: block;
}


/* 主体样式 */
#content{
	width: 100%;
	margin: 10px 0px 20px 0px;
	overflow: hidden;
	position: relative;
	top: 40px;
	z-index: 1;
}
/* 左侧边栏 */
#left_side{
	float: left;
	width: 68%;
	margin-left: 1.2%;
}
#top_pic{
	padding: 10px 50px;
	background-color: #eee;
}
#products div{
	width: 30%;
	display: inline-block;
	padding: 0px 10px;
}
#products div a{
	text-decoration: none;
}
#products div img{
	width: 100%;
}
/* 右侧边栏 */
#right_side{
	float: right;
	width: 28%;
	margin-right: 1.2%;
}
.list_group{
	margin-bottom: 30px;
	list-style: none;
}
/* 右侧边栏标题 */
.list_title{
	padding: 5px 15px;
	font-size: 25px;
	color: #6495ED;
	border: solid 1px slategray;
	font-weight: bold;
}
/* 右侧边条目 */
.list_item{
	padding: 10px 15px;
	margin-bottom: -1px;
	border: solid 1px #ddd;
}
.list_item img{
	width: 100%;
}

/* 底部样式 */
#bottom{
	position: absolute;
	top: 1550px;
	width: 100%;
	height: 40px;
	border: solid 1px #ddd;
}
#bottom a{
	float: right;
	text-decoration: none;
	padding-top: 5px;
	margin-right: 1.2%;
}
#bottom p{
	float: left;
	padding-top: 5px;
	margin-left: 1.2%;
}