<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 2.配置bean id属性给bean起名 class属性表示给bean定义类型 -->
    <bean id="bookDao" class="com.itheima.dao.impl.BookDaoImpl"/>

    <bean id="bookService" class="com.itheima.service.impl.BookServiceImpl">
        <!-- 7.配置service与dao的关系 -->
        <!-- property表示配置当前bean的属性 name表示配置哪一个具体的属性 ref表示参照哪一个bean -->
        <property name="bookDao" ref="bookDao"/>
    </bean>
</beans>