<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace 为名称空间
-->
<mapper namespace="com.mybatis.mapper.UserMapper">
<!--    <select id="selectAll" resultType="com.mybatis.pojo.User">-->
    <select id="selectAll" resultType="user">
        select * from tb_user;
    </select>
    <select id="selectByID" resultType="user">
        select * from tb_user where id = #{id};
    </select>


    <select id="select" resultType="user">
        select *
        from tb_user
        where username = #{username} and password = #{password};
    </select>
</mapper>